services:
  manager-service:
    build:
      dockerfile: ./Philosophers.Runners.SimulationManager/Dockerfile
      context: .
    container_name: manager-service
    ports:
       - 8080:8080
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - SimulationManagerConfiguration__Steps=15
      - ServicesConfigurations__CountPhilosophers=5
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/SimulationManager/health"]
      interval: 5s
      timeout: 2s
      retries: 3

  philosopher-a:
    build:
      dockerfile: ./Philosophers.Runners.Philosopher/Dockerfile
      context: .
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - HOST_URI=http://manager-service:8080/SimulationManager/
      - PhilosopherConfiguration__Name="A"
      - ServicesConfiguration__IsLeftHanded=true
    depends_on:
      manager-service:
        condition: service_healthy
    ports:
      - 8081:8080
  
  philosopher-b:
    build:
      dockerfile: ./Philosophers.Runners.Philosopher/Dockerfile
      context: .
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - HOST_URI=http://manager-service:8080/SimulationManager/
      - PhilosopherConfiguration__Name="B"
      - ServicesConfiguration__IsLeftHanded=false
    depends_on:
      manager-service:
        condition: service_healthy
    ports:
      - 8082:8080
  
  philosopher-c:
    build:
      dockerfile: ./Philosophers.Runners.Philosopher/Dockerfile
      context: .
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - HOST_URI=http://manager-service:8080/SimulationManager/
      - PhilosopherConfiguration__Name="C"
      - ServicesConfiguration__IsLeftHanded=false
    depends_on:
      manager-service:
        condition: service_healthy
    ports:
      - 8083:8080
  
  philosopher-d:
    build:
      dockerfile: ./Philosophers.Runners.Philosopher/Dockerfile
      context: .
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - HOST_URI=http://manager-service:8080/SimulationManager/
      - PhilosopherConfiguration__Name="D"
      - ServicesConfiguration__IsLeftHanded=false
    depends_on:
      manager-service:
        condition: service_healthy
    ports:
      - 8084:8080
  
  philosopher-e:
    build:
      dockerfile: ./Philosophers.Runners.Philosopher/Dockerfile
      context: .
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - HOST_URI=http://manager-service:8080/SimulationManager/
      - PhilosopherConfiguration__Name="E"
      - ServicesConfiguration__IsLeftHanded=false
    depends_on:
      manager-service:
        condition: service_healthy
    ports:
      - 8085:8080